.as{
    
    min-height:7vmax;
    background-color: #1e2735;
    padding: 0 5% ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    color: rgb(255, 255, 255);
    box-shadow: 0px 15px 20px rgb(0, 0, 0);
    font-family: 'Permanent Marker', cursive;
    background: linear-gradient(to right, #121212, #3a546d);
}
.head{
    cursor: default;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 60px;
    color: white;
}
li{
     color: rgb(255, 255, 255);
     list-style: none;
    
 }
.logo-container{
    flex: 0%;
    
}

.menu-container{
    margin-top: 1%;
    justify-content: space-evenly;
    align-items: center;
    flex: 2;
    margin-left:11%;
   
}

.menu-container > ul li {
    float: left;
    margin-left: 0%;
    position: relative;
}
.menu-container ul a:after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: white;
    transform:scaleX(0);
    transition: transform 0.50s ease-out;
    transform-origin: left bottom;
}

.menu-container ul a:hover:after{
    transform: scale(1);   
}

.menu-container > ul li:not(:first-child){
    margin-left: 1.5%;
}
.footer{
    position: fixed;
    display: flex;
    bottom: 0;
    left: 0;
    width: 100%;
    justify-content: center;
}
.share{
    text-align: center;
}
.sharea{
    margin: 1%;
    font-size: 60px;
    color:rgb(35, 211, 211);
}
@media screen and  (max-width: 700px){
    .as{
        height: 22vmax;
        background-color: #1e2735;
        padding: 0 5% ;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 15px;
        color: rgb(255, 255, 255);
        box-shadow: 0px 15px 20px rgb(0, 0, 0);
        font-family: 'Permanent Marker', cursive;
        background: linear-gradient(to right, #121212, #3a546d);
    }
    .head{
        width: 100%;
        height: 100%;
        cursor: default;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 45px;
        color: white;
        
        margin: 0;
    }
    li{
         color: rgb(255, 255, 255);
         list-style: none;
         
        
     }
    .logo-container{
        flex: 0%;
        
    }
    
    .menu-container{
        
        justify-content: space-evenly;
        align-items: center;
        flex: 4;
       
        margin-left: -2%;
       
       
    }
    .menu-container li {
        font-size: 16px;
      
        
    }
    
    .menu-container > ul li {
        float: left;  
        position: relative;
        margin-left: 0%;
  
    }
    .menu-container ul a:after{
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: white;
        transform:scaleX(0);
        transition: transform 0.50s ease-out;
        transform-origin: left bottom;
    }
    
    .menu-container ul a:hover:after{
        transform: scale(1);   
    }
    
    .menu-container > ul li:not(:first-child){
        margin-left: 2%;
    }
    .menu-container button{
        font-size: 12px;
        margin-left: 60%;
        margin-top: -35%;
       
    }
    .footer{
        font-size: 8px;
        position: fixed;
        display: flex;
        bottom: 0;
        left: 0;
        width: 100%;
        justify-content: center;
    }
    .share{
        text-align: center;
        margin-top: 25%;
    }
    .sharea{
        
        margin: 2%;
        font-size: 30px;
        color:rgb(35, 211, 211);
    }
   
   
}